body {
    background-color:lightgreen;
    text-align: center;
    padding-left: 10px;
    margin: auto;
    margin-left: auto;
    margin-bottom: 20px;
    font-size:2.5rem;

}
h1{
    font-size: 5rem;
    color:red;
    font-family: "montserrat-dark";
    text-shadow: 3px 2px  black;
    image-orientation: flip;
}
footer{
    color:aliceblue;
    font-family:sans-serif;
}
.drum{
    height:150px;
    width:150px;
    margin-bottom: 20px;
    background-size: 150px;
}
.A{
    background-image: url("images\ \(1\).jpg");
    background-position: auto;
    color:red;


}
.B{

background-image: url("images\ \(2\).jpg");}
:hover{
    background-color:#00BFFF;
    
}

.C{
background-image: url("images\ \(3\).jpg");
color:skyblue;
}
.D{
background-image: url("images\ \(4\).jpg");
}
.E{
background-image: url("images\ \(5\).jpg");
}
.F{
background-image: url("images\ \(6\).jpg");
}
.G{
background-image: url("images\ \(7\).jpg");
}
.set{
    margin:5% auto;
}